        @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

        body {
            background: #D9D9D9;
        }

        h1,
        form {
            max-width: 420px;
            margin: 15px auto;
        }

        h1 {
            color: #0D0D0D;
            font-family: 'Montserrat', Arial, Raleway, sans-serif;
            font-weight: 700;
            font-size: 24px;
        }

        label {
            color: #0D0D0D;
            font-family: Raleway, Arial, sans-serif;
            font-weight: 700;
            font-size: 18px;
        }

        textarea {
            color: #0D0D0D;
            font-family: Raleway, Arial, sans-serif;
            font-weight: 500;
            font-size: 18px;
            border-radius: 5px;
            line-height: 22px;
            background-color: transparent;
            border: 2px solid #078C4E;
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 15px;
            width: 100%;
            box-sizing: border-box;
            outline: 0;
        }

        .prompt-input:focus {
            border: 2px solid #CC4949;
        }

        .small-textarea {
            height: 60px;
            line-height: 150%;
            resize: vertical;
        }

        .large-textarea {
            height: 150px;
            line-height: 150%;
            resize: vertical;
        }

        .choice-box {
            border-radius: 5px;
            background-color: transparent;
            border: 2px solid #078C4E;
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 5px;
            width: 100%;
            box-sizing: border-box;
            outline: 0;
        }

        [type="submit"],
        .enabled {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            width: 100%;
            background: #078C4E;
            border-radius: 5px;
            border: 0;
            cursor: pointer;
            color: white;
            font-size: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: all 0.3s;
            box-shadow: 0px 0px 10px #404040;
            margin-top: 20px;
            font-weight: 700;
        }

        .active:active {
            box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
        }

        .disabled {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            width: 100%;
            background: #404040;
            border-radius: 5px;
            border: 0;
            cursor: pointer;
            color: white;
            font-size: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: all 0.3s;
            box-shadow: 0px 0px 10px #404040;
            margin-top: 20px;
            font-weight: 700;
        }

        .hover:hover {
            background: #0D734D;
        }

        #aiPrompt {
            color: #D9D9D9;
            font-family: Raleway, Arial, sans-serif;
            font-weight: 700;
            font-size: 16px;
            max-width: 420px;
            margin: 50px auto;
            background-color: #0D0D0D;
            border-radius: 10px;
            box-shadow: 0px 0px 15px #404040;
            padding: 50px 13px;
            margin-top: 20px;
        }

        .hidden {
            display: none;
        }

        .error-msg {
            color: #CC4949;
            font-family: Raleway, Arial, sans-serif;
            font-weight: 700;
            font-size: 12px;
        }